header {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  margin-top: 8px;

  &--container {
    background-color: var(--device-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-radius: 16px;
    position: relative;
  }

  &--logo {
    padding-left: 16px;

    svg {
      height: auto;
      width: 40px;
    }
  }

  &--menu {
    color: var(--device-medium-grey);
    padding: 18px 38px;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
    height: 100%;

    svg {
      fill: var(--device-white);
      margin-right: 10px;
      font-size: 18px;
    }
  }

  &--main-menu {
    display: flex;
    align-items: center;

    > div {
      margin-left: 16px;
      transition: color 0.3s ease, background-color 0.3s ease;

      > a,
      > button,
      .locale-language,
      .logged-in {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        cursor: pointer;
        border: none;
      }

      &:hover {
        background-color: var(--device-black-grey);
        border-radius: 8px;

        svg {
          fill: var(--device-white);
        }
      }
    }

    .header__languages:hover {
      border-radius: 8px 8px 0 0;
    }

    svg {
      font-size: 24px;
    }
  }

  &--favorites {
    margin-left: 38px;
  }

  &--user > a {
    background-color: var(--device-black-grey);
    border-radius: 8px;
    transition: color 0.3s ease, background-color 0.3s ease;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--user {
    display: flex;
    align-items: center;
    margin-right: 16px;
    position: relative;

    span {
      margin-left: 8px;
      color: var(--device-medium-grey);
      white-space: nowrap;
    }

    &:hover {
      span {
        color: var(--device-white);
      }
    }
  }
}

.logged-in {
  background-color: rgba(56, 88, 152, 0.5);
  cursor: pointer;
  border-radius: 8px;
  margin: 0;

  span {
    color: var(--device-dark-orange);
    font-weight: 800;
  }

  svg {
    fill: var(--device-dark-orange);
  }

  &--open {
    border-radius: 8px 8px 0 0;
  }
}

.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(16px);
  background-color: rgba(56, 88, 152, 0.5);
  padding: 8px 0;
  color: var(--device-dark-orange);
  font-weight: 700;
  border-radius: 0 0 8px 8px;
  z-index: 1000;

  > button,
  a {
    padding: 4px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1500px) {
  header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    &--container {
      height: auto;
      padding: 8px;
    }

    &--logo {
      padding-left: 4px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &--menu {
      font-size: 14px;
      padding: 2px;

      svg {
        width: 15px;
        height: 15px;
        margin-right: 2px;
      }
    }

    &--main-menu {
      > div {
        margin: 0 4px !important;

        > a {
          padding: 2px 4px;
        }

        .logged-in {
          padding: 2px 4px;
        }
      }
      svg {
        width: 15px;
        height: 15px;
      }
    }

    &--user {
      span {
        font-size: 14px;
      }
    }
  }

  .menu {
    &--category {
      > a {
        padding: 2px !important;
      }

      &--title {
        font-size: 14px;
      }
    }
  }

  .profile-menu {
    padding: 4px 0;

    > button,
    > a {
      padding: 0;
      margin-bottom: 4px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 576px) {
  .header {
    &--container {
      padding: 4px;
    }

    &--user {
      position: initial;

      span {
        display: none;
      }
    }
  }

  .profile-menu {
    background-color: rgba(32, 32, 32, 0.52);
  }
}
